# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/

# Env/segredos
.env
.env.*.local
config.json

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

venv/
.venv/
